@font-face {
    font-family: 'Messapia-Bold'; /*a name to be used later*/
    src: url(../fonts/Messapia-Bold.otf); /*URL to font*/
}

/* * */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    list-style-type: none;}
img {
    max-width: 100%;
    padding: 1em 0 1em 0;}
body {
    font-family: Messapia-Bold;
    background-color: #111111;
    background-image: url(../img/bg.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
    color: #fefbf8;
    font-size: 1em;}
/* nav */
nav {
    margin: 2em;
    position: fixed;
    top: 0em;
    z-index: 70;
    font-size: 0.85em;}
nav a {
    display: block;
    text-decoration: none;
    color: #fefbf8;
    padding: 0.3em;}
nav a:hover {
    color: #db9e85;}
nav .active{
    padding-left: 0.6em;
    color: grey;
}
nav .active:hover{
    color: grey;
}

/* canvas */

#c {
    z-index: -1;
}

canvas {
    touch-action: none;
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* main */
    main {
        position: absolute;
        left: 10em;
        font-family: arial;
        max-width: 128ch;
        margin: 2em auto 0 auto;
        padding: 1em 2em;
        line-height: 1.4;
        z-index: 80;
        font-size: 0.8em;
    }
    main h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.1em;
    }
    main span {
        display: block;
        padding-top: 0.6em;
    }

    main a {
        color: #fefbf8;
        text-decoration: underline;
    }
    main span a:hover {
        color: #111111;
        text-decoration: none;
        background-color: #fefbf8;
    }
    main div {
        padding-right: 6em;
        position: relative;
        width: 50%;
        float: left;
    }



/* footer */
footer a {
    display: block;
    float: right;
    font-size: 0.6em;
    margin: 0.4em;
    margin-top: 1.6em;
    background-color: rgba(11, 11, 11, 0.85);
    color: #595148;
    text-decoration: none;
}

footer a p {
    display: inline-block;
    float: left;
}


/* media query */

@media (max-width: 530px) {
    nav {
        float: left;
        display: block;
        margin: 0 auto 0 auto;
    }
    nav li {
        display: inline;
    }
    nav a {
        display: block;
        float: left;
        white-space: nowrap;
    }

    main {
        position: absolute;
        left: 0;
        padding: 4px;
        font-size: 0.9em;
        margin-top: 2.6em;
        overflow: visible;
    }

    main span {
        padding-top: 0.6em;
    }

    /* footer */
    footer a {
        display: block;
        font-size: 0.55em;
        margin: 0;
        margin-top: 2px;
        background-color: rgba(11, 11, 11, 0.85);
        color: #595148;
        text-decoration: none;
    }

    footer a p {
        display: block;
        float: left;
    }
}